<div class="row">
  <div class="span6">
    <div class="form-container">
      <%= semantic_form_for @pastor do |f| %>
        <%= f.inputs do %>
          <% if f.object.profile_pic.present? %>
            <%= image_tag(f.object.profile_pic.url(:small)) %>
          <% end %>
          <%= f.input :profile_pic, :as => :file %>
          <%= f.input :bio, :as => :ckeditor %>
          <%= f.input :phone %>
          <%= f.input :address_one %>
          <%= f.input :address_two %>
					<%= f.input :title, :as => :select, :collection => Pastor::TITLES %>
          <%= f.input :congregation %>
        <% end %>
        <%= f.actions do %>
          <%= f.action :submit, :as => :button,
                       :label => "Store changes",
                       :button_html => { :class => "btn btn-success" } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
