<div id="content">
  <div class="container">
    <!-- Sign Up form -->
    <div class="row">
      <div class="span6 offset3">
        <% if current_user and current_user.pastor.present? %>
        <h1>You are already registered as a Pastor</h1>
        <% else %>
        <%= semantic_form_for @pastor, :html => { :class => "" } do |f| %>
        <h3 class="title-divider">
          <span>Register as a Pastor</span>
        </h3>
        <div>
          <%= f.inputs do %>
          <% if f.object.profile_pic.present? %>
          <%= image_tag(f.object.profile_pic.url(:small)) %>
          <% end %>
          <%= f.input :profile_pic, :as => :file, :input_html => { :class => "input-block-level" } %>
          <%= f.input :phone %>
          <%= f.input :address_one, :input_html => { :class => "input-block-level" } %>
          <%= f.input :address_two, :input_html => { :class => "input-block-level" } %>
          <%= f.input :title, :as => :select, :collection => Pastor::TITLES, :input_html => { :class => "input-block-level" } %>
          <%= f.input :congregation, :input_html => { :class => "input-block-level" } %>
          <% end %>
          <%= f.actions do %>
          <%= f.action :submit, :as => :button,
          :label => "Store changes",
          :button_html => { :class => "btn btn-success" } %>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>