<div id="content">
    <div class="container">

        <% if flash[:notice] %>
            <div class="alert alert-info">
                <%= flash[:notice] %>
            </div>
        <% end %>

        <!-- Services -->
        <div class="block features">
            <div class="row">
                <!-- Secondary features -->
                <div class="span9">
                    <h3 class="title-divider"><span><%= @pastor.title %><span class="de-em"><%= @pastor.user.get_full_name %></span></span>
                        <small><%= @pastor.user.first_name %> is the <%= @pastor.title %> of <%= @pastor.congregation %></small></h3>
                    <div class="tabbable tabs-left feature-tabs row-fluid">
                        <ul id="calendar-trigger" class="nav nav-tabs span4 hidden-phone">
                            <li class="active"> <a href="#tab1" data-toggle="tab">About  <small>Learn about <%= @pastor %></small><i class="icon-angle-right"></i></a> </li>
                            <li> <a href="#tab2" data-toggle="tab">Upcoming Events <small>Where will <%= @pastor %> be</small><i class="icon-angle-right"></i></a> </li>
                            <li><a href="#tab4" data-toggle="tab">My Calendar<small>Check my schedule</small><i class="icon-angle-right"></i></a></li>
                        </ul>
                        <div class="tab-content span8">
                            <div class="tab-pane active" id="tab1"> <%= image_tag @pastor.profile_pic.url(:medium) %> <br />
                                <h3 class="title visible-phone">Mobile Friendly</h3>
                                <!--only show on mobile when tabs are open-->
                                <%= raw @pastor.bio %>
                            </div>
                            <div class="tab-pane blog-roll blog-list" id="tab2">
                                <% for event in @events %>
                                <div class="media row-fluid <% if event.end_date < Date.today %>fade-out<% end %>">
                                    <div class="span2 hidden-phone">
                                        <!-- Date desktop -->
                                        <div class="date-wrapper">
                                            <span class="date-m"><%= event.start_date.strftime("%b") %></span>
                                            <span class="date-d"><%= event.start_date.day %></span>
                                        </div>
                                        <!-- Meta details desktop -->
                                        <p class="meta muted">
                                        <i class="icon-user"></i>

                                        <%= event_link_user(event) %>

                                        </p>
                                    </div>
                                    <div class="span10">
                                        <div class="media-body">
                                            <div class="tags">
                                                <a href="#" class="tag"><%= event.category.name %></a> / <a href="#" class="type"><%= event.tag_list %></a>
                                            </div>
                                            <h4 class="title media-heading">
                                                <!-- Meta details mobile -->
                                                <ul class="inline meta muted visible-phone">
                                                    <li><i class="icon-calendar"></i> <span class="visible-desktop">Starts:</span> <%= event.start_date %></li>
                                                    <li><i class="icon-user"></i> <%= event_link_user(event) %> </li>
                                                </ul>

                                                <% if event.published %>
                                                    <%= link_to event.short_description, event %>
                                                <% else %>
                                                    <%= event.short_description %>
                                                <% end %>
                                            </h4>
                                            <% if current_user == event.user %>
                                                <%= link_to "Edit", edit_event_path(event.id) %>
                                            <% end %>
                                            <!-- Meta details mobile -->
                                            <%= link_to image_tag(event.cover.url(:small)), event, :class => "media-object" %>
                                            <%= raw event.long_description[0, 500] %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            </div>
                            <div class="tab-pane" id="tab4" data-url="<%= pastor_events_pastor_path %>.json">
                                <div id="calendar_canvas"></div>
                                <% if user_signed_in? %>
                                <% if current_user.pastor and current_user.pastor == @pastor %>
                                    <div class="appointment-form">
                                        <h4>Add an occurrence to your calendar</h4>
                                        <%= form_tag(occurrence_event_path, :method => 'post') do %>
                                            <p>
                                            <%= text_field_tag(:title, nil, :placeholder => "Occurrence title") %>
                                            </p>
                                            <p>
                                            <%= text_field_tag(:start_date, nil, :placeholder => "Start date", :class => "datetimepicker") %>
                                            </p>
                                            <p>
                                            <%= text_field_tag(:end_date, nil, :placeholder => "End date", :class => "datetimepicker") %>
                                            </p>
                                            <p>
                                            <%= submit_tag("Create", :class => "btn btn-success", :name => nil) %>
                                            </p>
                                        <% end %>
                                    </div>
                                <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Contact block-->
                <div class="span3">
                    <h3 class="title-divider"><span>Questions?</span> <small>Get in touch!</small></h3>
                    <p><abbr title="Phone"><i class="icon-phone"></i></abbr> <%= @pastor.phone %> </p>
                    <p><abbr title="Email"><i class="icon-envelope"></i></abbr> <%= @pastor.user.email %> </p>
                    <p><abbr title="Address"><i class="icon-home"></i></abbr> <%= @pastor.address_one %>, <%= @pastor.address_two %> </p>
                    <% if current_user != nil and current_user.is_admin or current_user == @pastor.user %>
                        <%= link_to "Edit", edit_pastor_path(@pastor.id) %>
                    <% end %>
                    <form id="contact-form" action="#" class="bordered-top-medium">
                        <input type="text" class="span2" placeholder="Your Number">
                        <input type="button" class="btn btn-inverse" value="Request A Callback">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
