<a name='post-<%= post.id %>'></a>
<div id='post_<%= post_counter + 1 %>' class='post <%= cycle('odd', 'even') -%> row-fluid'>

  <div class='user span3'>
    <div class='username'>
      <%= link_to_if Forem.user_profile_links, post.user, [main_app, post.user] %>
    </div>
    <div class='icon'><%= forem_avatar(post.user, :size => 60) %></div>
  </div>

  <div class='span9'>
    <% if post.pending_review? %>
      <div class='moderation'>
        <%= t(".pending_review") %>
        <% if forem_admin_or_moderator?(post.topic.forum) %>
          <% if local_assigns[:mass_moderation] %>
            <%= render "forem/posts/moderation_tools", :post => post %>
          <% else %>
            <%= form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do %>
              <%= render "forem/posts/moderation_tools", :post => post %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <a href='#post-<%= post.id %>'>
      <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
    </a>
    <%= forem_format(post.text) %>

    <% if post.reply_to %>
      <span class='in_reply_to'>
        <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
      </span>
    <% end %>
		
		<!--
    <ul class='actions'>
      <% if forem_user %>
        <% if can?(:reply, post.topic) %>
          <% if post.topic.can_be_replied_to? %>
            <li><%= link_to t('reply', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id) %></li>
          <% end %>
          <% if post.topic.can_be_replied_to? %>
            <li><%= link_to t('quote', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id, :quote => true) %></li>
          <% end %>
        <% end %>
        <% if post.owner_or_admin?(forem_user) %>
          <% if can?(:edit_post, post.topic.forum) %>
            <li><%= link_to t('edit', :scope => 'forem.post'), forem.edit_topic_post_path(post.topic, post) %></li>
          <% end %>
          <li><%= link_to t('delete', :scope => 'forem.topic'), forem.topic_post_path(post.topic, post), :method => :delete, :confirm => t("are_you_sure") %></li>
        <% end %>
      <% end %>
    </ul>
		-->

  </div>
</div>
