<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-login form-wrapper form-medium" }) do |f| %>
  <%= devise_error_messages! %>

	<h3 class="title-divider">
		<span>Edit <%= resource_name.to_s.humanize %></span>
	</h3>

	<div>
		<%= f.email_field :email, :autofocus => true, :placeholder => "Email address", :class => "input-block-level" %>
	</div>

	<div>
		<%= f.text_field :first_name, :placeholder => "First name", :class => "input-block-level" %>
	</div>

	<div>
		<%= f.text_field :last_name, :placeholder => "Last name", :class => "input-block-level" %>
	</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

	<h5>Please fill in if you want to change your password. Leave blank otherwise</h5>
  <div>
		<%= f.password_field :password, :autocomplete => "off", :placeholder => "New password (Leave blank if no password changes are needed)", :class => "input-block-level" %>
	</div>
	<div>  
		<%= f.password_field :password_confirmation, :placeholder => "Confirm new password", :class => "input-block-level" %>
	</div>

	<div><%= f.submit "Update", :class => "btn btn-success" %></div>
  
<% end %>

<div class="form-login form-wrapper form-medium">
	<h3 class="title-divider">
		<span>Unhappy?</span>
	</h3>

	<div>
		<%= button_to "Cancel my account", registration_path(resource_name), :class => "btn btn-success", :data => { :confirm => "Are you sure?" }, :method => :delete %>
	</div>
</div>
