<%= form_for(resource, :as => resource_name, :html => { :class => "form-login form-wrapper form-medium"}, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h3 class="title-divider">
  	<span>Sign Up</span>
  	<small>
  		Already signed up? <%= link_to "Login here", new_user_session_url %>
  	</small>
  </h3>

  <div>
    <%= link_to image_tag("facebook-connect.jpg"), user_omniauth_authorize_path(:facebook) %>
  	<%= link_to image_tag("twitter-login.png"), user_omniauth_authorize_path(:twitter) %>
  </div>

	<h5>Account Information</h5>

	<p>First name</p>
	<div>
		<%= f.text_field :first_name, :class => "input-block-level", :autofocus => true, :placeholder => "First name" %>
	</div>

	<p>Last name</p>
	<div>
		<%= f.text_field :last_name, :class => "input-block-level", :placeholder => "Last name" %>
	</div>

	<p>Email address</p>
  <div>
  	<%= f.email_field :email, :class => "input-block-level", :placeholder => "Email address" %>
  </div>

	<p>Password</p>
  <div>
	  <%= f.password_field :password, :class => "input-block-level", :placeholder => "Password" %>
	</div>

	<p>Password confirmation</p>
  <div>
  	<%= f.password_field :password_confirmation, :class => "input-block-level", :placeholder => "Confirm password" %>
  </div>

  <div><button class="btn btn-success" type="submit">Sign up</button></div>
<% end %>
