<div class="container">
	<div id="content">
		<h1><%= t('forem.admin.area') %></h1>

		<p>
		  <%= t('forem.admin.welcome') %>
		</p>

		<ul>
		  <li><%= link_to t('forem.admin.forum.index'), forem.admin_forums_path %> </li>
		  <li><%= link_to t('forem.admin.category.index'), forem.admin_categories_path %></li>
		  <li><%= link_to t('forem.admin.group.index'), forem.admin_groups_path %></li>
		</ul>

	</div>
</div>

