<%= semantic_form_for @client do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :company %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :address_one %>
    <%= f.input :address_two %>
    <%= f.input :city %>
    <%= f.input :state, :as => :select, :collection => Client::STATES %>
    <%= f.input :zip_code %>

    <%= f.input :banner_size, :as => :select, :collection => Client::BANNER_SIZES %>

    <%= f.input :company_logo, :as => :file %>
    <%= f.input :banner_file_name, :as => :file %>

  <% end %>

  <%= f.actions do %>
		<%= f.action :submit, :as => :input, :input_html => { :class => "btn btn-success" } %>
  <% end %>
<% end %>
