<div id="content">
	<div class="container">
		<h2 class="title-divider">
			<span>Want to advertise with <span class="de-em">us?</span></span> <small>Give us some info and well get back to you</small>
		</h2>
		<div class="row-fluid">
			<div class="span4">
				<%= render 'form' %>
			</div>
			<div class="span8">
				<p>
				Christian Event Link allows any Christian Service to advertise site wide or for a specific event. Event banners are seen by people attending 
				events in your area and can help improve your Christian related business. In addition you can sponsor an event on 
				Christian Event Link and direct procedes to the event you are purchasing the ad for. We also offer site wide advertising and will 
				place your ad throughout Christian Event Link to advertise your business or your upcoming event
				</p>

				<p>
				Below are some standard banner advertisement sizes for events and site wide banner advertisements. 
				The sizes of the banners and placement can be selected in the dropdown menu at the left of the page. Please fill out the form and a 
				representative will get in touch with you to speak about pricing for each.
				</p>

				<div class="row">
					<div class="span4"><%= image_tag("banner23top.png") %></div>
					<div class="span4"><%= image_tag("adbanthird.png") %></div>
					<div class="span4"><%= image_tag("adbanfull.png") %></div>
				</div>

			</div>
		</div>
	</div>
</div>
