<div id="content">
	<div class="container">
		<h2><%= link_to t('forem.forum.forums'), forem.forums_path %> &raquo; <%= link_to forem_emojify(@category), [forem, @category] %></h2>
		<%= render @category %>
	</div>
</div>