<% if @event.attendees %>
	<h3>People attending</h3>
	<div class="inner">
		<div class="block">
			<ul>
					<% for u in @event.users %>
                        <li>
                            <%= u %> 
                            <% if u == current_user %> 
                            <%= link_to "Cancel", @event.attendees.find_by_user_id(u.id), :method => :delete %> <% end %> 
                        </li>
					<% end %>
			</ul>
		</div>
	</div>
<% end %>
