<%= semantic_form_for @event do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :short_description %>
    <%= f.input :long_description %>
    <%= f.input :location %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :zipcode %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :start_date, :as => :string, :input_html => { :class => "datepicker" }  %>
    <%= f.input :end_date, :as => :string, :input_html => { :class => "datepicker" } %>
    <%= f.input :max_num_attendees %>
    <%= f.input :min_num_attendees %>
    <%= f.input :age_group, :as => :select, :collection => Event::AGE_GROUPS %>
    <%= f.input :start_registration, :as => :string, :input_html => { :class => "datepicker" } %>
    <%= f.input :end_registration, :as => :string, :input_html => { :class => "datepicker" } %>
    <% if f.object.cover %>
        <%= image_tag(f.object.cover.url(:small)) %>
    <% end %>
    <%= f.input :cover, :as => :file %>
    <%= f.input :category %>
  <% end %>
<% end %>
