	<h3>When and where</h3>
	<div class="inner">
		<div class="block">
			<ul>
				<li><strong><%= @event.location %></strong></li>
				<li><%= @event.address_one %>, <%= @event.address_two %></li>
				<li><%= @event.city %>, <%= @event.state %> <%= @event.zipcode %></li>
				<li><%= @event.start_date.strftime("%B %d, %y, at %I:%M %p") %></li>
				<li><%= @event.end_date.strftime("%B %d, %y, at %I:%M %p") %></li>
			</ul>
		</div>
	</div>
	<h3>Organizer</h3>
	<div class="inner">
		<div class="block">
			<ul>
				<li><strong><%= @event.contact_name %></strong></li>
				<li><%= @event.contact_email %></li>
				<li><%= @event.contact_phone %></li>
			</ul>
		</div>
	</div>
