<h4>Step 6: Where</h4>
<%= f.input :location %>
<%= f.input :address_one %>
<%= f.input :address_two %>
<%= f.input :city %>
<%= f.input :state, :as => :select, :collection => Event::STATES %>
<%= f.input :zipcode %>
