<div class="span3 sidebar sidebar-left">
  <h3>Search for Events</h3>
  <div class="inner">
    <div class="block">
      <%= form_tag(events_path, :method => "get") do %>
        <%= label_tag(:short_description_or_name, "Search Keywords") %>
        <%= text_field_tag(:short_description_or_name, nil, :placeholder => "Event name, Pastor") %>
        <%= label_tag(:category_id, "Category") %>
        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, "id", "name"), :include_blank => true) %>
        <%= label_tag(:tags, "Tagged with") %>
        <%= text_field_tag(:tags, nil, :placeholder => "Tags separated by commas") %>

        <h5>Location</h5>
        <%= label_tag(:city, "City") %>
        <%= text_field_tag(:city) %>
        <%= label_tag(:location, "Locale") %>
        <%= text_field_tag(:location) %>
        <%= label_tag(:zipcode, "Zipcode") %>
        <%= text_field_tag(:zipcode) %>

        <h5>Date range</h5>
        <%= label_tag(:keywords, "From") %>
        <%= text_field_tag(:start_date_from, nil, :class => "datetimepicker") %>
        <%= label_tag(:keywords, "To") %>
        <%= text_field_tag(:start_date_to, nil, :class => "datetimepicker") %>

        <%= submit_tag("Search", :class => "btn btn-success", :name => nil) %>
      <% end %>
    </div>
    <!-- <div class="block"> <a href="#" class="btn btn-warning"><i class="icon-rss"></i> Subscribe via RSS feed</a> </div> -->
  </div>
</div>
