<div class="offset3" id="center-submit-button">
	<%= f.actions do %>
		<%= f.action :submit, :label => "Submit Event",
								 :as => :button, :button_html => { :class => "btn btn-success" } %>
	<% end %>
</div>

