<div id="content">
    <div class="container">
        <div class="row-fluid">
            <h2 class="title-divider">
                <span>Event <span class="de-em">listings</span></span>
                <!-- <small>We love to talk!</small> -->
            </h2>
        </div>
        <div class="row">
            <!--Sidebar-->
            <%= render 'events/search' %>

            <!--Blog Roll Content-->
            <div class="span9 blog-roll blog-list">
                <% if @pastors.any? %>
                    <div class="media row-fluid">
                        <h4>Pastors</h4>
                        <% for pastor in @pastors %>
                            <div class="span2">
                                <%= image_tag pastor.profile_pic.url(:small) %>
                                <p>
                                    <i class="icon-user"></i>
                                    <%= link_to pastor, pastor%>
                                </p>
                            </div>
                        <% end %>
                    </div>
                <% end %>

                <% @events.each do |event| %>
                    <h4>Events</h4>
                    <!-- Blog post -->
                    <div class="media row-fluid <% if event.end_date < Date.today %>fade-out<% end %>">
                        <div class="span1 hidden-phone">
                            <!-- Date desktop -->
                            <div class="date-wrapper">
                                <span class="date-m"><%= event.start_date.strftime("%b") %></span>
                                <span class="date-d"><%= event.start_date.day %></span>
                            </div>
                            <!-- Meta details desktop -->
                            <p class="meta muted">
                            <i class="icon-user"></i>

                            <%= event_link_user(event) %>

                            </p>
                        </div>
                        <div class="span11">
                            <div class="media-body">
                                <div class="tags"><a href="#" class="tag"><%= event.category.name %></a> / <a href="#" class="type"><%= event.tag_list %></a></div>
                                <h4 class="title media-heading">
                                    <!-- Meta details mobile -->
                                    <ul class="inline meta muted visible-phone">
                                        <li><i class="icon-calendar"></i> <span class="visible-desktop">Starts:</span> <%= event.start_date %></li>
                                        <li><i class="icon-user"></i> <%= event_link_user(event) %> </li>
                                    </ul>

                                    <%= link_to event.short_description, event %>
                                </h4>
                                <% if current_user == event.user %>
                                    <%= link_to "Edit", edit_event_path(event.id) %>
                                <% end %>
                                <!-- Meta details mobile -->
                                <%= link_to image_tag(event.cover.url(:small)), event, :class => "media-object" %>

                                <p>
                                <%= raw event.long_description[0, 500] %>...
                                </p>

                                <ul class="inline links">
                                    <li>
                                    <!--  <a href="blog-post.htm" class="btn btn-mini">
                                        <i class="icon-circle-arrow-right"></i> Read more
                                    </a> -->
                                    <%= link_to raw("<i class='icon-circle-arrow-right'></i>Read more..."), event, :class => "btn btn-mini" %>
                                    </li>
                                    <!-- <li>
                                    <a href="blog-post.htm#comments" class="btn btn-mini"><i class="icon-comment"></i> 50 Comments</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>

                <div class="pagination pagination-centered">
                    <button type="button" class="btn btn-block" data-loading-text="Loading...">Load More</button>
                </div>

            </div>
        </div>
    </div>
    <!--.container-->
</div>
