<div id="content">
    <div class="container">
        <div class="row-fluid">
            <h2 class="title-divider">
                <span>Event <span class="de-em">Listing</span></span>
                <small>
                    <%= link_to raw("<i class='icon-arrow-left'></i>Back to listings"), events_path %>
                </small>
            </h2>
        </div>
        <div class="row">
            <!--Sidebar-->
						<div class="span3 sidebar sidebar-left">
							<%= render "events/info" %>
							<%= render "events/attendees" %>
						</div>
            <!--Main Content-->
            <div class="span9 blog-post">

                <!-- Blog post -->
                <div class="media row-fluid">
                    <div class="span1 hidden-phone">
                        <!-- Date desktop -->
                        <div class="date-wrapper">
                            <span class="date-m"><%= @event.start_date.strftime("%b") %></span>
                            <span class="date-d"><%= @event.end_date.day %></span>
                        </div>
                        <!-- Meta details desktop -->
                        <p class="meta muted">
                        <i class="icon-user"></i>

                        <%= event_link_user(@event) %>

                        </p>
                    </div>
                    <div class="span11">
                        <div class="media-body">
                            <div class="tags">
                                <a href="#" class="tag"><%= @event.category.name %></a> / <a href="#" class="type"><%= @event.tag_list %></a>
                            </div>

														<div class="social-media">
															<div id="fb-root"></div>
															<script>(function(d, s, id) {
																var js, fjs = d.getElementsByTagName(s)[0];
																if (d.getElementById(id)) return;
																js = d.createElement(s); js.id = id;
																js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=429161183839650";
																fjs.parentNode.insertBefore(js, fjs);
															}(document, 'script', 'facebook-jssdk'));</script>
															<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

															<a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a>
															<span style="display:block; margin-top: 10px;">
															<div class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-action="recommend"></div>
															</span>
														</div>

                            <h3 class="title media-heading"><%= @event.short_description %></h3>
                            <% if current_user != nil and current_user == @event.user %>
                                <%= link_to "Edit", edit_event_path(@event.id) %>
                            <% end %>

                            <!-- Meta details mobile -->
                            <ul class="inline meta muted visible-phone">
                                <li><i class="icon-calendar"></i> <span class="visible-desktop">Starts:</span> <%= @event.start_date %> </li>
                                <li><i class="icon-user"></i> <a href="#"> @event.user.get_full_name </a></li>
                            </ul>

                            <div class="media-object">
                                <%= image_tag @event.cover.url(:large) %>
                            </div>
                            <p class="lead">
                            <%= @event.short_description %>
                            </p>

                            <p>
                            <%= raw @event.long_description %>
                            </p>
                            <% if current_user %>
                                <p>
                                <% if ! @event.users.include? current_user %>
                                    <%= form_tag(attendees_path, :method => "post") do %>
                                        <%= hidden_field_tag :user_id, current_user.id %>
                                        <%= hidden_field_tag :event_id, @event.id %>
                                        <%= submit_tag nil, :value => "Attend event", :class => "btn btn-success" %>
                                    <% end %>
                                <% end %>
                                </p>
                            <% end %>
                        </div>
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = 'christianeventlink'; // required: replace example with your forum shortname

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                             })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
