<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            
            <li class="active"><a href="about" class="first">Our Story <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li><a href="team">The Team <small>Our team </small><i class="icon-angle-right"></i></a></li>
            <li><a href="contact">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>About <span class="de-em">Us</span></span> <small>What & who makes us tick!</small></h2>
        
        <!-- About company -->
        <h4>Romans 12:2 </h4>
        <blockquote><p>Do not conform to the pattern of this world, but be transformed by the renewing of your mind. Then you will be able to test and approve what God’s will is his good, pleasing and perfect will.</p></blockquote>
        <p>Christian Event Link was founded based on this very notion.  The bible commands us to be innovative in our deeds.  Early in 2013 what some might consider a chance encounter of two men separated by many miles occurred?  As faith would have it Ricky Carraway had a vision of creating a way for local clergy to connect with the faithful on a broader scale.  Ricks idea of bringing together people to see what a preacher of any faith may be doing at a given time was divinely inspired but as with all things that come from God there is some seek and find involved.  As Rick formed this idea he was introduced to an internet software developer Shawn Pinkston.   From the first meeting both realized that this was not simply another website to be built, as they began to talk about the original idea they were inspired even more by their faith to envision the magnitude of what God had given.</p>
        <h4>II Corinthians 9:8</h4>
        <blockquote><p>And God is able to bless you abundantly, so that in all things at all times, having all that you need, you will abound in every good work.</p></blockquote>
        <p>Inspired by their faith the idea grew between Rick and Shawn that this should not just be a schedule of events for clergy, as they prayed God spoke to their hearts and blessed their minds and ideas began to flow; what they saw was a premier Christian social media site that would change the way Christian communicate. Through Gods will they created Christian Event Link to serve as a central source on the web for Christians of any faith and denomination to place Christian events and communicate.  The original ideal stayed strong as Christian event link is still focused on giving people across the United States a way to connect with the events of various preachers, pastors, bishops and all the clergy ranks. Shawn and Rick found even more blessings coming their way when Vernon Whitaker joined the team.  Vernon brought a new life and breathed new innovation into Christian Event Link.  The team now was complete and through prayer and reading of the Bible has stayed true to the inspiration that flows to them.  A big part of Christian Event Link was helped by an amazing developer, Mario Vallejo whose dedication and devotion have been a true blessing  </p>
        <h4>Ecclesiastes 11:4 </h4>
        <blockquote><p>He who observes the wind [and waits for all conditions to be favorable] will not sow, and he who regards the clouds will not reap.</p></blockquote>
        <p>Now after hard work and dedication we bring to you Christian Event Link in the first phase of what will be many more to come.  We will constantly be inspired by God and all of our brothers and sisters in the Lord.  Christian Event Link is not a denomination resource it is a Christian resource for all faiths and Religions.  Our hearts and souls give glory to God and we hope you enjoy using our work.  From the team at Christian Event Link to all who find us thank you and God Bless.</p>
      </br><h5>- Christian Event Link Staff</h5>
        </div>
      </div>
    </div>
  </div>
</div>
