<div id="content">
  <div class="container">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li><a href="about" class="first">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li><a href="team">The Team <small>Our Team</small><i class="icon-angle-right"></i></a></li>
            <li class="active"><a href="contact">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>Contact <span class="de-em">Us</span></span> <small>If you have any improvements or suggestions we would love to hear from you!  Or just drop us a line! </small></h2>
        <div class="row-fluid">
          <div class="span6">
            <form id="contact-form" action="#">
              <input type="text" class="span11" placeholder="Name">
              <br />
              <input type="email" class="span11" placeholder="Email">
              <br />
              <textarea rows="12" class="span11" placeholder="Message"></textarea>
              <br />
              <input type="button" class="btn btn-primary" value="Send Message">
            </form>
          </div>
          <div class="span6">
            <p><abbr title="Phone"><i class="icon-phone"></i></abbr> 850-417-7151</p>
            <p><abbr title="Email"><i class="icon-envelope"></i></abbr> admin@christianeventlink.com</p>
            <!-- <p><abbr title="Address"><i class="icon-home"></i></abbr> Sunshine House, Sunville. SUN12 8LU.</p> -->
            <!-- <p><a href="https://maps.google.co.uk/maps?q=London&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=51.510238,-0.127029&amp;spn=0.042735,0.102654&amp;z=12&amp;"> <img src="img/misc/map.png" alt="Location map" class="img-polaroid" /> </a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
