<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="nav-header">In This Section</li>
            <li><a href="about" class="first">About Us <small>How It All Began</small><i class="icon-angle-right"></i></a></li>
            <li class="active"><a href="team">The Team <small>Our team of stars</small><i class="icon-angle-right"></i></a></li>
            <li><a href="contact">Contact Us<small>How to get in touch</small><i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>The <span class="de-em">Team</span></span> </h2>
        
        <!-- The team -->
        <div class="block team margin-top-large" id="team">
          <div class="media">
            <div class="pull-left"><!-- <img src="img/team/rick.jpg" class="img-polaroid media-object" alt="rick" />--> </div>
            <div class="media-body">
              <h4 class="media-heading">Rick Carraway</h4>
              <p class="role">Founder & Managing Partner</p>
              <p>Ricky Carraway the Senior Pastor of Life Changing Ministries of Jesus Inc. along with my wife Shannon, we are located in Port Saint Lucie, FL. 34952. The idea of Christian Event Link came to me after meditating on a change of paste. During this period of meditation, God gave me the idea of putting together a website that would bring Christians together and give pastors away to provide information on their worship services and ministry plans. It is my sincere hope that you will find this media site a blessing as well as informative.</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <!-- <img src="img/team/shawn.jpg" class="img-polaroid media-object" alt="shawn" /> --></div>
            <div class="media-body">
              <h4 class="media-heading">Shawn Pinkston</h4>
              <p class="role">Founder & Managing Partner</p>
              <p>Shawn Pinkston is an entrepreneur and managing partner in Christian Event Link.  Mr. Pinkston has over 20 years in the software and internet development world.  As a young man Shawn always had an interest in the earliest home computers and it was at a young age that he began to teach himself to code software.  Throughout his time in the United States military he attended the University of Maryland where he would go on to earn a bachelor of science in computer science.  Shawn has worked with fortune 500 companies such as Microsoft and Eddie Bauer directing both software and internet development initiatives for large projects.  Currently Mr. Pinkston is the C.E.O of not only Almond Development, The Fighter Web and a nutritional supplement company but also looks forward to his new leadership role in helping Christian Event Link become an amazing resource for Christians across the United States.  As a family man of great faith Shawn enjoys spending time with his amazing wife Stephanie (the real boss) and his six amazing children.  </p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <!-- <img src="img/team/vernon.jpg" class="img-polaroid media-object" alt="vernon" /> --></div>
            <div class="media-body">
              <h4 class="media-heading">Vernon Whitaker</h4>
              <p class="role">Managing Partner</p>
              <p>I'm Apostle Vernon Whitaker with my wife Prophetess Betty, we oversee First Church Five-Fold Fellowship Ministries Inc. located in Port Saint Lucie, FL. 34984. Through the blessings of God, Apostle Rick Carraway and I have worked on several projects together. Apostle Rick shared the idea of Christian Event Link with me. After hearing Apostle Rick vision God opened my eyes to the vision of Apostle Rick putting together a website that would bring Christians together and allow pastors to imput information about their worship services and ministry plans. The nature of our friendship and working relations prompted him to reccommend that I share in the vision of Christian Event Link Inc.</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"><!--  <img src="img/team/mario.jpg" class="img-polaroid media-object" alt="mario" /> --></div>
            <div class="media-body">
              <h4 class="media-heading">Mario Vallejo</h4>
              <p class="role">Lead Developer</p>
							<p>
							Problem solver, specially when problems involve a computer. Have been programming utilities and games since childhood and started
							working professionally while a teenager. From Motorola to the United Nations, I am now focused on small fast moving startups. 
							Life's too short
							and there's too much to do and being stuck in an office not making a difference would not help at all.
						  </p>
              <ul class="inline">
                <li><a href="https://plus.google.com/104211822291145239102"><i class="icon-google-plus"></i> Google+</a></li>
                <li><a href="http://twitter.com/axoloteDeAccion"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="http://linkedin.com/in/axolotedeaccion"><i class="icon-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
