<%= simple_form_for [forem, :admin, @forum] do |f| %>
  <%= f.association :category, :include_blank => false %>
  <%= f.input :title %>
  <%= f.input :description, :as => :text %>

  <h3><%= t('forem.moderator_groups') %></h3>
  <%= f.association :moderators, :as => :check_boxes %>
	<%= f.submit class: "btn btn-success"  %>
<% end %>
