<div id="content">
	<div class="container">

		<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

		<h2><%= t("forem.topic.new") %></h2>

		<%= render "form" %>

	</div>
</div>
