/*******************************************************
 *
 * Custom theme code styles
 * Written by Themelize.me (http://themelize.me)
 *
 *******************************************************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-family: "Open Sans", Arial, serif;
  background: #ffffff;
}
h1 {
  font-size: 31.5px;
}
h2 {
  font-size: 27.3px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 21.7px;
}
h2 small {
  font-size: 14.700000000000001px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-title {
  margin: 0;
}
.page-title small {
  color: rgba(51, 51, 51, 0.5);
}
a:focus {
  outline: none;
}
.colour-switcher a {
  text-indent: -10000px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.5);
}
.colour-switcher a:hover,
.colour-switcher a.active {
  border: 3px solid #ffffff;
}
.colour-switcher p {
  margin-top: 1em;
}
.colour-switcher .green {
  background: #69A646;
}
.colour-switcher .red {
  background: #be3e1d;
}
.colour-switcher .blue {
  background: #00adbb;
}
.colour-switcher.page a {
  width: 200px;
  height: 200px;
  border: 3px solid rgba(36, 36, 36, 0.2);
}
.colour-switcher.page a:hover,
.colour-switcher.page a.active {
  border: 3px solid rgba(36, 36, 36, 0.6);
}
#header-hidden-link {
  position: absolute;
  right: 0;
  top: -10px;
}
#header-hidden-link a.show-hide,
#header-hidden-link a.top-link {
  font-size: 0;
  line-height: 1;
  background: #69A646;
  padding: 0 10px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  height: 20px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
#header-hidden-link a.show-hide i,
#header-hidden-link a.top-link i {
  font-size: 16px;
  line-height: 1;
}
#header-hidden-link a.show-hide:hover,
#header-hidden-link a.top-link:hover {
  text-decoration: none;
  color: #ffffff;
}
#header-hidden-link a.show-hide > i:before {
  content: "\f078";
  font-family: 'FontAwesome';
  font-size: 16px;
  font-style: normal;
}
#header-hidden-link a.show-hide.open > i:before {
  content: "\f077";
}
.show-hide-open {
  height: auto !important;
  min-height: 40px;
  max-height: 40000px;
}
.show-hide-close {
  height: 0;
  overflow: hidden;
}
/* --------------------------------------------------
 * Zones & Regions
 *-------------------------------------------------- */
#navigation {
  *zoom: 1;
}
#navigation:before,
#navigation:after {
  display: table;
  content: "";
  line-height: 0;
}
#navigation:after {
  clear: both;
}
#navigation .header-hidden {
  background: #69A646;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  height: 0;
  overflow: hidden;
}
#navigation .header-hidden.show-hide-open {
  padding: 10px 0;
}
#navigation .header-hidden a {
  color: #ffffff;
}
#navigation .header {
  padding: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #69A646;
  color: #242424;
  #height: 60px;
}
#navigation .header .header-inner {
  position: relative;
}
#navigation .header .social-media {
  margin: 20px 0 0 0;
}
#navigation .navbar {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
#navigation .navbar-inner {
  margin: 0;
  padding: 0 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  border-bottom: 3px solid #69A646;
  background-image: url(image-path("bg_noise-2.png"));
  background-position: left top;
  background-repeat: repeat;
  -webkit-box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.6);
  -moz-box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.6);
  box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.6);
}
#navigation .brand {
  font-weight: 400;
  font-family: "Rambla", Arial, serif;
  padding: 0;
  margin: 8px 0 0 0;
  display: block;
  border: none;
  text-shadow: none;
  line-height: 1;
  color: #69A646;
}
#navigation .brand h1 {
  font-size: 39.5px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#navigation .brand h1 span {
  color: rgba(36, 36, 36, 0.8);
  font-weight: 700;
}
#navigation .brand:hover {
  text-decoration: none;
  cursor: pointer;
}
#navigation .slogan {
  color: #888;
  font-size: 13.9px;
  margin: 8px 0 0 1em;
  padding: 12px 0 8px 1em;
  border-left: 1px solid #e6e6e6;
  float: left;
}
#navigation .navbar .btn-navbar {
  padding: 8px;
  margin: 0;
}
#navigation .nav-select {
  display: none;
  float: left;
}
#navigation .navbar .nav li.divider-vertical {
  margin: 0 20px;
  border-left-color: #3b746b;
  border-right-color: rgba(255, 255, 255, 0.15);
}
#navigation .navbar .nav li > a,
#navigation .navbar .nav li > a.btn {
  text-shadow: none;
  font-size: 14.5px;
}
#navigation .navbar .nav li > .btn {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 0 0 5px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  outline: 0;
}
#navigation .navbar .nav li > .btn:hover,
#navigation .navbar .nav li > .btn:active,
#navigation .navbar .nav li > .btn.active,
#navigation .navbar .nav li > .btn.disabled,
#navigation .navbar .nav li > .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
#navigation .navbar .nav li > .btn:active,
#navigation .navbar .nav li > .btn.active {
  background-color: #cccccc \9;
}
#navigation .navbar .nav li > .btn.signup,
#navigation .navbar .nav li > .btn.login {
  margin: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  font-size: 12px;
  text-transform: uppercase;
}
#navigation .navbar .nav li > .btn.login {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
#navigation .navbar .nav li > .btn:active {
  outline: 0;
}
#navigation .navbar .nav li > .btn.btn-primary,
#navigation .navbar .nav li > .btn.btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #69A646;
  background-image: -moz-linear-gradient(top, #69A646, #5A8E3C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#69A646), to(#5A8E3C));
  background-image: -webkit-linear-gradient(top, #69A646, #5A8E3C);
  background-image: -o-linear-gradient(top, #69A646, #5A8E3C);
  background-image: linear-gradient(to bottom, #69A646, #5A8E3C);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69A646', endColorstr='#ff5A8E3C', GradientType=0);
  border-color: #5A8E3C #5A8E3C #2a534c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #5A8E3C;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#navigation .navbar .nav li > .btn.btn-primary:hover,
#navigation .navbar .nav li > .btn.btn-navbar:hover,
#navigation .navbar .nav li > .btn.btn-primary:active,
#navigation .navbar .nav li > .btn.btn-navbar:active,
#navigation .navbar .nav li > .btn.btn-primary.active,
#navigation .navbar .nav li > .btn.btn-navbar.active,
#navigation .navbar .nav li > .btn.btn-primary.disabled,
#navigation .navbar .nav li > .btn.btn-navbar.disabled,
#navigation .navbar .nav li > .btn.btn-primary[disabled],
#navigation .navbar .nav li > .btn.btn-navbar[disabled] {
  color: #ffffff;
  background-color: #5A8E3C;
  *background-color: #3b746b;
}
#navigation .navbar .nav li > .btn.btn-primary:active,
#navigation .navbar .nav li > .btn.btn-navbar:active,
#navigation .navbar .nav li > .btn.btn-primary.active,
#navigation .navbar .nav li > .btn.btn-navbar.active {
  background-color: #33635c \9;
}
#navigation .navbar .nav li > .btn.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#navigation .navbar .nav li > .btn.btn-warning:hover,
#navigation .navbar .nav li > .btn.btn-warning:active,
#navigation .navbar .nav li > .btn.btn-warning.active,
#navigation .navbar .nav li > .btn.btn-warning.disabled,
#navigation .navbar .nav li > .btn.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
#navigation .navbar .nav li > .btn.btn-warning:active,
#navigation .navbar .nav li > .btn.btn-warning.active {
  background-color: #c67605 \9;
}
#navigation .navbar .nav li > .btn.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#navigation .navbar .nav li > .btn.btn-danger:hover,
#navigation .navbar .nav li > .btn.btn-danger:active,
#navigation .navbar .nav li > .btn.btn-danger.active,
#navigation .navbar .nav li > .btn.btn-danger.disabled,
#navigation .navbar .nav li > .btn.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
#navigation .navbar .nav li > .btn.btn-danger:active,
#navigation .navbar .nav li > .btn.btn-danger.active {
  background-color: #942a25 \9;
}
#navigation .navbar .nav li > .btn.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #318b20;
  background-image: -moz-linear-gradient(top, #1b7b00, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b7b00), to(#51a351));
  background-image: -webkit-linear-gradient(top, #1b7b00, #51a351);
  background-image: -o-linear-gradient(top, #1b7b00, #51a351);
  background-image: linear-gradient(to bottom, #1b7b00, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1b7b00', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#navigation .navbar .nav li > .btn.btn-success:hover,
#navigation .navbar .nav li > .btn.btn-success:active,
#navigation .navbar .nav li > .btn.btn-success.active,
#navigation .navbar .nav li > .btn.btn-success.disabled,
#navigation .navbar .nav li > .btn.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
#navigation .navbar .nav li > .btn.btn-success:active,
#navigation .navbar .nav li > .btn.btn-success.active {
  background-color: #408140 \9;
}
#navigation .navbar .nav li > .btn.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#navigation .navbar .nav li > .btn.btn-info:hover,
#navigation .navbar .nav li > .btn.btn-info:active,
#navigation .navbar .nav li > .btn.btn-info.active,
#navigation .navbar .nav li > .btn.btn-info.disabled,
#navigation .navbar .nav li > .btn.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
#navigation .navbar .nav li > .btn.btn-info:active,
#navigation .navbar .nav li > .btn.btn-info.active {
  background-color: #24748c \9;
}
#navigation .navbar .nav li > .btn.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #161616;
  background-image: -moz-linear-gradient(top, #242424, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#242424), to(#000000));
  background-image: -webkit-linear-gradient(top, #242424, #000000);
  background-image: -o-linear-gradient(top, #242424, #000000);
  background-image: linear-gradient(to bottom, #242424, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff242424', endColorstr='#ff000000', GradientType=0);
  border-color: #000000 #000000 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #000000;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#navigation .navbar .nav li > .btn.btn-inverse:hover,
#navigation .navbar .nav li > .btn.btn-inverse:active,
#navigation .navbar .nav li > .btn.btn-inverse.active,
#navigation .navbar .nav li > .btn.btn-inverse.disabled,
#navigation .navbar .nav li > .btn.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #000000;
  *background-color: #000000;
}
#navigation .navbar .nav li > .btn.btn-inverse:active,
#navigation .navbar .nav li > .btn.btn-inverse.active {
  background-color: #000000 \9;
}
#navigation .navbar .nav.user-menu {
  padding: 12px 6px;
}
#navigation .navbar .nav#main-menu li.home-link a {
  margin: 0;
  display: block;
  text-align: center;
  color: #69A646;
  font-size: 20px;
  padding: 16px 20px;
}
#navigation .navbar .nav#main-menu li.home-link a:hover {
  color: #ffffff;
  background: transparent;
}
#navigation .navbar .nav#main-menu li:first-child {
  border-left: none;
}
#navigation .navbar .nav#main-menu li:last-child {
  border-right: none;
}
#navigation .navbar .nav#main-menu li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  padding: 18px 20px;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
#navigation .navbar .nav#main-menu li a:focus {
  color: #ffffff;
}
#navigation .navbar .nav#main-menu li a:hover,
#navigation .navbar .nav#main-menu li.active a.menu-item,
#navigation .navbar .nav#main-menu li.active .dropdown-toggle,
#navigation .navbar .nav#main-menu li.open .dropdown-toggle,
#navigation .navbar .nav#main-menu li.open.active .dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.044);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.08));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.02)), to(rgba(255, 255, 255, 0.08)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.08));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.08));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.08));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ffffff', endColorstr='#14ffffff', GradientType=0);
  color: #ffffff;
}
#navigation .navbar .nav#main-menu li a:hover .caret,
#navigation .navbar .nav#main-menu li.active a.menu-item .caret,
#navigation .navbar .nav#main-menu li.active .dropdown-toggle .caret,
#navigation .navbar .nav#main-menu li.open .dropdown-toggle .caret,
#navigation .navbar .nav#main-menu li.open.active .dropdown-toggle .caret {
  border-top-color: #ffffff;
}
#navigation .navbar .nav#main-menu .dropdown-menu {
  margin-top: 2px;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: -1px;
  border-bottom: 4px solid #69A646;
  min-width: 250px;
  color: rgba(36, 36, 36, 0.8);
}
#navigation .navbar .nav#main-menu .dropdown-menu .divider {
  height: 2px;
  margin: 0;
}
#navigation .navbar .nav#main-menu .dropdown-menu.pull-center {
  padding: 0;
  left: 50%;
  width: 220px;
  margin-left: -110px;
}
#navigation .navbar .nav#main-menu .dropdown-menu.pull-center:before {
  left: 50%;
  top: -10px;
  border-width: 10px;
  margin-left: -10px;
}
#navigation .navbar .nav#main-menu .dropdown-menu.pull-center:after {
  left: 49.5%;
  top: -9px;
  border-width: 9px;
  margin-left: -8px;
}
#navigation .navbar .nav#main-menu .dropdown-menu li {
  border-left: none;
  border-right: none;
}
#navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item {
  margin: 0;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff3f3f3', GradientType=0);
  border-bottom: 1px solid #e6e6e6;
  color: #242424;
}
#navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:before {
  font-family: FontAwesome;
  font-size: 10px;
  color: rgba(36, 36, 36, 0.6);
  width: 30px;
  height: 30px;
  content: "\f0da";
  padding-right: 10px;
}
#navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:hover {
  color: rgba(36, 36, 36, 0.8);
  border-bottom-color: #69A646;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}
#navigation .navbar .nav#main-menu .dropdown-menu.mega-menu {
  padding: 10px;
  min-width: 600px;
}
#navigation .navbar .nav#main-menu .dropdown-menu.mega-menu .menu-title {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e6e6e6;
  display: block;
}
#navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul {
  margin: 0;
  font-size: 10.5px;
}
#navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul span {
  padding: 5px;
  display: block;
}
#navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item {
  padding: 5px;
  font-weight: bold;
  font-size: 11.5px;
}
#navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item:before {
  font-size: 14px;
}
#navigation div.dropdown-menu,
#navigation span.dropdown-menu {
  padding: 10px;
  min-width: 150px;
  color: rgba(36, 36, 36, 0.8);
}
#navigation div.dropdown-menu form,
#navigation span.dropdown-menu form {
  margin: 0;
}
#navigation div.dropdown-menu form select,
#navigation span.dropdown-menu form select,
#navigation div.dropdown-menu form textarea,
#navigation span.dropdown-menu form textarea,
#navigation div.dropdown-menu form input[type="text"],
#navigation span.dropdown-menu form input[type="text"],
#navigation div.dropdown-menu form input[type="password"],
#navigation span.dropdown-menu form input[type="password"],
#navigation div.dropdown-menu form input[type="datetime"],
#navigation span.dropdown-menu form input[type="datetime"],
#navigation div.dropdown-menu form input[type="datetime-local"],
#navigation span.dropdown-menu form input[type="datetime-local"],
#navigation div.dropdown-menu form input[type="date"],
#navigation span.dropdown-menu form input[type="date"],
#navigation div.dropdown-menu form input[type="month"],
#navigation span.dropdown-menu form input[type="month"],
#navigation div.dropdown-menu form input[type="time"],
#navigation span.dropdown-menu form input[type="time"],
#navigation div.dropdown-menu form input[type="week"],
#navigation span.dropdown-menu form input[type="week"],
#navigation div.dropdown-menu form input[type="number"],
#navigation span.dropdown-menu form input[type="number"],
#navigation div.dropdown-menu form input[type="email"],
#navigation span.dropdown-menu form input[type="email"],
#navigation div.dropdown-menu form input[type="url"],
#navigation span.dropdown-menu form input[type="url"],
#navigation div.dropdown-menu form input[type="search"],
#navigation span.dropdown-menu form input[type="search"],
#navigation div.dropdown-menu form input[type="tel"],
#navigation span.dropdown-menu form input[type="tel"],
#navigation div.dropdown-menu form input[type="color"],
#navigation span.dropdown-menu form input[type="color"],
#navigation div.dropdown-menu form .uneditable-input,
#navigation span.dropdown-menu form .uneditable-input {
  margin-bottom: 2px;
}
#navigation div.dropdown-menu form select.email,
#navigation span.dropdown-menu form select.email,
#navigation div.dropdown-menu form textarea.email,
#navigation span.dropdown-menu form textarea.email,
#navigation div.dropdown-menu form input[type="text"].email,
#navigation span.dropdown-menu form input[type="text"].email,
#navigation div.dropdown-menu form input[type="password"].email,
#navigation span.dropdown-menu form input[type="password"].email,
#navigation div.dropdown-menu form input[type="datetime"].email,
#navigation span.dropdown-menu form input[type="datetime"].email,
#navigation div.dropdown-menu form input[type="datetime-local"].email,
#navigation span.dropdown-menu form input[type="datetime-local"].email,
#navigation div.dropdown-menu form input[type="date"].email,
#navigation span.dropdown-menu form input[type="date"].email,
#navigation div.dropdown-menu form input[type="month"].email,
#navigation span.dropdown-menu form input[type="month"].email,
#navigation div.dropdown-menu form input[type="time"].email,
#navigation span.dropdown-menu form input[type="time"].email,
#navigation div.dropdown-menu form input[type="week"].email,
#navigation span.dropdown-menu form input[type="week"].email,
#navigation div.dropdown-menu form input[type="number"].email,
#navigation span.dropdown-menu form input[type="number"].email,
#navigation div.dropdown-menu form input[type="email"].email,
#navigation span.dropdown-menu form input[type="email"].email,
#navigation div.dropdown-menu form input[type="url"].email,
#navigation span.dropdown-menu form input[type="url"].email,
#navigation div.dropdown-menu form input[type="search"].email,
#navigation span.dropdown-menu form input[type="search"].email,
#navigation div.dropdown-menu form input[type="tel"].email,
#navigation span.dropdown-menu form input[type="tel"].email,
#navigation div.dropdown-menu form input[type="color"].email,
#navigation span.dropdown-menu form input[type="color"].email,
#navigation div.dropdown-menu form .uneditable-input.email,
#navigation span.dropdown-menu form .uneditable-input.email {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: none;
}
#navigation div.dropdown-menu form select.password,
#navigation span.dropdown-menu form select.password,
#navigation div.dropdown-menu form textarea.password,
#navigation span.dropdown-menu form textarea.password,
#navigation div.dropdown-menu form input[type="text"].password,
#navigation span.dropdown-menu form input[type="text"].password,
#navigation div.dropdown-menu form input[type="password"].password,
#navigation span.dropdown-menu form input[type="password"].password,
#navigation div.dropdown-menu form input[type="datetime"].password,
#navigation span.dropdown-menu form input[type="datetime"].password,
#navigation div.dropdown-menu form input[type="datetime-local"].password,
#navigation span.dropdown-menu form input[type="datetime-local"].password,
#navigation div.dropdown-menu form input[type="date"].password,
#navigation span.dropdown-menu form input[type="date"].password,
#navigation div.dropdown-menu form input[type="month"].password,
#navigation span.dropdown-menu form input[type="month"].password,
#navigation div.dropdown-menu form input[type="time"].password,
#navigation span.dropdown-menu form input[type="time"].password,
#navigation div.dropdown-menu form input[type="week"].password,
#navigation span.dropdown-menu form input[type="week"].password,
#navigation div.dropdown-menu form input[type="number"].password,
#navigation span.dropdown-menu form input[type="number"].password,
#navigation div.dropdown-menu form input[type="email"].password,
#navigation span.dropdown-menu form input[type="email"].password,
#navigation div.dropdown-menu form input[type="url"].password,
#navigation span.dropdown-menu form input[type="url"].password,
#navigation div.dropdown-menu form input[type="search"].password,
#navigation span.dropdown-menu form input[type="search"].password,
#navigation div.dropdown-menu form input[type="tel"].password,
#navigation span.dropdown-menu form input[type="tel"].password,
#navigation div.dropdown-menu form input[type="color"].password,
#navigation span.dropdown-menu form input[type="color"].password,
#navigation div.dropdown-menu form .uneditable-input.password,
#navigation span.dropdown-menu form .uneditable-input.password {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#navigation div.dropdown-menu form .btn,
#navigation span.dropdown-menu form .btn {
  margin: 0;
}
#navigation div.dropdown-menu form .btn.login,
#navigation span.dropdown-menu form .btn.login {
  width: 60px;
}
#navigation div.dropdown-menu .divider,
#navigation span.dropdown-menu .divider {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
#navigation div.dropdown-menu small,
#navigation span.dropdown-menu small {
  display: block;
}
#navigation div.dropdown-menu .signup,
#navigation span.dropdown-menu .signup {
  font-weight: bold;
}
#highlighted {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-bottom: 1px solid rgba(36, 36, 36, 0.2);
  border-top: none;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  color: #242424;
}

#highlighted .inner {
  background: url(image-path("slides/slide4.jpg")) left bottom repeat-x;
}

#highlighted ul.nav-pills {
  margin: 0;
}
.has-navbar-fixed-top #highlighted {
  margin-top: 150px;
}
#content {
  padding: 20px 0;
}
#content-below {
  padding: 10px 0;
  border-top: 1px solid #cdcdcd;
  background: #e6e6e6;
}
#footer {
  background: #333333;
  min-height: 200px;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid #69A646;
}
#footer h3 {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
}
#footer a {
  color: rgba(255, 255, 255, 0.8);
}
#footer .block {
  margin-bottom: 2em;
}
#footer .inline {
  display: inline-block;
}
#footer .contact-block p {
  margin-bottom: 0.2em;
}
#footer .contact-block i {
  padding-right: 0.5em;
}
#footer #toplink {
  margin-bottom: -25px;
  text-align: center;
}
#footer #toplink a:hover {
  text-decoration: none;
  color: #ffffff;
}
#footer #toplink i {
  color: #69A646;
}
#footer .subfooter {
  border-top: 1px dotted rgba(255, 255, 255, 0.1);
  margin-top: 1em;
  padding-top: 1em;
}
#footer .container {
  position: relative;
}
.social-media a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  line-height: 36px;
  width: 36px;
  height: 36px;
  background: rgba(36, 36, 36, 0.8);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.social-media a i {
  font-size: 20px;
  color: #ffffff;
  padding: 0;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  margin-right: 0.2em;
}
.social-media a:hover {
  text-decoration: none;
  background: #69A646;
}
.social-media a.last {
  padding-bottom: 0;
  border-bottom: 0;
}
.upsell {
  text-align: center;
}
.upsell .title {
  display: inline-block;
  padding: 0 0.5em;
  margin: 0;
}
.upsell .title small {
  display: block;
}
.upsell p {
  margin: 0;
  padding: 0.5em 0 0 0;
}
.btn span {
  display: block;
  font-size: 12px;
}
.spacer {
  font-weight: bold;
  color: #69A646;
}
.spacer.dark {
  color: #5A8E3C;
}
/* --------------------------------------------------
 * Common styles
 *-------------------------------------------------- */
a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.block .title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
  line-height: 1;
}
.sidebar.sidebar-right .inner {
  border-left: 1px solid #e6e6e6;
  padding: 20px 0 0 2em;
}
.sidebar.sidebar-left .inner {
  border-right: 1px solid #e6e6e6;
  padding: 20px 2em 0 0;
}
.sidebar .block {
  margin-bottom: 2em;
}
.mdrs .btn-block,
.mdrs .btn {
  padding: 0.6em 1em;
  font-size: 1.2em;
}
.intro p {
  margin-bottom: 0;
}
ul.inline > li:first-child {
  padding-left: 0;
}
/* --------------------------------------------------
 * Homepage
 *-------------------------------------------------- */
.flexslider-wrapper,
.static-banner {
  overflow: hidden;
}
.flexslider-wrapper .caption,
.static-banner .caption {
  padding: 5% 0;
}
.flexslider-wrapper .caption h1,
.static-banner .caption h1,
.flexslider-wrapper .caption h2,
.static-banner .caption h2,
.flexslider-wrapper .caption h3,
.static-banner .caption h3,
.flexslider-wrapper .caption h4,
.static-banner .caption h4,
.flexslider-wrapper .caption h5,
.static-banner .caption h5,
.flexslider-wrapper .caption p,
.static-banner .caption p {
  margin-top: 0;
  font-weight: normal;
}
.flexslider-wrapper .caption .btn,
.static-banner .caption .btn {
  margin: 0;
}
.flexslider-wrapper .caption .inverse,
.static-banner .caption .inverse {
  background: #242424;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.flexslider-wrapper .caption .inverse a,
.static-banner .caption .inverse a {
  color: rgba(255, 255, 255, 0.9);
}
.flexslider-wrapper div.underlay-img,
.static-banner div.underlay-img {
  position: relative;
}
.flexslider-wrapper div.underlay-img img.underlay-img,
.static-banner div.underlay-img img.underlay-img {
  position: absolute;
  top: 0;
}
.flexslider-wrapper div.underlay-img .caption,
.static-banner div.underlay-img .caption {
  z-index: 100001;
  position: absolute;
}
.flexslider-wrapper .flexslider,
.static-banner .flexslider {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.flexslider-wrapper .flex-direction-nav a,
.static-banner .flex-direction-nav a {
  text-indent: 0;
  font-size: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 40px;
  line-height: 46px;
  width: 40px;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.flexslider-wrapper .flex-direction-nav a:before,
.static-banner .flex-direction-nav a:before {
  content: '\f054';
  font-family: 'FontAwesome';
  font-size: 22px;
}
.flexslider-wrapper .flex-direction-nav a.flex-prev:before,
.static-banner .flex-direction-nav a.flex-prev:before {
  content: '\f053';
}
.flexslider-wrapper .flex-direction-nav a:hover,
.static-banner .flex-direction-nav a:hover {
  text-decoration: none;
}
.flexslider-wrapper .flex-control-nav,
.static-banner .flex-control-nav {
  bottom: 0;
  right: 20px;
  width: auto;
}
.flexslider-wrapper .flex-control-nav li,
.static-banner .flex-control-nav li {
  margin: 0 3px;
}
.flexslider-wrapper .flex-control-nav li a,
.static-banner .flex-control-nav li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 14px;
  width: 14px;
  background: rgba(36, 36, 36, 0.3);
}
.flexslider-wrapper .flex-control-nav li a:hover,
.static-banner .flex-control-nav li a:hover {
  background: rgba(36, 36, 36, 0.8);
}
.flexslider-wrapper .flex-control-nav li a.flex-active,
.static-banner .flex-control-nav li a.flex-active {
  background: #69A646;
}
.features .title {
  margin-top: 10px;
}
.features .thumbnails li {
  *zoom: 1;
}
.features .thumbnails li:before,
.features .thumbnails li:after {
  display: table;
  content: "";
  line-height: 0;
}
.features .thumbnails li:after {
  clear: both;
}
.features .thumbnails li img {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -o-linear-gradient(top, #fafafa, #ebebeb);
  background-image: linear-gradient(to bottom, #fafafa, #ebebeb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.features .thumbnails li img:hover {
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
  background-image: -o-linear-gradient(top, #f5f5f5, #e0e0e0);
  background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe0e0e0', GradientType=0);
}
.features .thumbnails li i {
  float: right;
  margin: 0.5em;
}
.pricing-stack .well {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  padding: 10px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 5px #cdcdcd;
  -moz-box-shadow: 1px 1px 5px #cdcdcd;
  box-shadow: 1px 1px 5px #cdcdcd;
}
.pricing-stack .well .title {
  margin: 10px 0 0 0;
  color: rgba(36, 36, 36, 0.8);
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.8);
  text-align: center;
  font-weight: normal;
  text-transform: none;
}
.pricing-stack .well .price {
  margin: 1em -14px;
  padding: 20px 0;
  text-shadow: none;
  color: #69A646;
  display: block;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  text-align: center;
  font-size: 16px;
}
.pricing-stack .well .price .fancy {
  font-size: 28px;
}
.pricing-stack .well .price .digits {
  font-size: 32px;
  font-weight: bold;
}
.pricing-stack .well ul.points li {
  border-bottom: 1px dotted rgba(189, 189, 189, 0.8);
  padding: 0.2em;
}
.pricing-stack .well .btn {
  display: block;
  width: 90%;
  margin: 20px auto 0 auto;
}
.pricing-stack .well.active {
  border-color: #69A646;
  border-width: 1px;
  -webkit-box-shadow: 1px 2px 5px #cdcdcd;
  -moz-box-shadow: 1px 2px 5px #cdcdcd;
  box-shadow: 1px 2px 5px #cdcdcd;
}
.pricing-stack .well.active .title {
  font-size: 28px;
  text-transform: uppercase;
}
.pricing-stack .well.active .price {
  background: #69A646;
  background-color: #5bab9e;
  background-image: -moz-linear-gradient(top, #69A646, #69A646);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#69A646), to(#69A646));
  background-image: -webkit-linear-gradient(top, #69A646, #69A646);
  background-image: -o-linear-gradient(top, #69A646, #69A646);
  background-image: linear-gradient(to bottom, #69A646, #69A646);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69A646', endColorstr='#ff69A646', GradientType=0);
  border-color: #69A646;
  color: #ffffff;
}
.pricing-stack .well.active .btn {
  margin-top: 40px;
}
/* --------------------------------------------------
 * Features
 *-------------------------------------------------- */
.tabbable > ul.nav-tabs li a,
ul.nav-tabs li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tabbable > ul.nav-tabs li.active a,
ul.nav-tabs li.active a,
.tabbable > ul.nav-tabs li.active a:hover,
ul.nav-tabs li.active a:hover {
  color: #69A646;
  border-top: 4px solid #69A646;
}
.feature-tabs ul.nav-tabs {
  margin-right: 0;
}
.feature-tabs ul.nav-tabs li a {
  color: rgba(36, 36, 36, 0.8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 18px;
  border-left: 4px solid transparent;
  position: relative;
}
.feature-tabs ul.nav-tabs li a i {
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 10px;
  color: #e6e6e6;
}
.feature-tabs ul.nav-tabs li a small {
  display: block;
  font-weight: normal;
}
.feature-tabs ul.nav-tabs li a:hover i {
  color: #69A646;
}
.feature-tabs ul.nav-tabs li.active a,
.feature-tabs ul.nav-tabs li.active a:hover {
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  border-left: 4px solid #69A646;
}
.feature-tabs ul.nav-tabs li.active a i,
.feature-tabs ul.nav-tabs li.active a:hover i {
  color: #69A646;
}
/* --------------------------------------------------
 * Customers
 *-------------------------------------------------- */
.page-customers .tabbable > ul.nav-tabs li a,
.page-customers ul.nav-tabs li a {
  padding: 10px 30px;
}
.customers li a .inner-wrapper {
  height: 240px;
  padding: 1em;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  position: relative;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffebebeb', GradientType=0);
}
.customers li a span {
  display: block;
}
.customers li a .img-wrapper {
  text-align: center;
  height: 100px;
  display: block;
}
.customers li a .img-wrapper img {
  max-height: 80px;
  margin: 1em auto;
}
.customers li a .title {
  text-transform: none;
  font-weight: bold;
}
.customers li a .description {
  color: rgba(36, 36, 36, 0.8);
}
.customers li a:hover {
  text-decoration: none;
}
.customers li a:hover .inner-wrapper {
  border-color: #a6a6a6;
}
/* --------------------------------------------------
 * About
 *-------------------------------------------------- */
.stats .stat {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.stats .stat .well {
  background-color: #5A8E3C;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#69A646), to(#5A8E3C));
  background-image: -webkit-radial-gradient(circle, #69A646, #5A8E3C);
  background-image: -moz-radial-gradient(circle, #69A646, #5A8E3C);
  background-image: -o-radial-gradient(circle, #69A646, #5A8E3C);
  background-repeat: no-repeat;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  margin: 0 15px;
  height: 40px;
  line-height: 40px;
}
.stats .stat .well:after,
.stats .stat .well:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.stats .stat .well:after {
  border-top-color: #69A646;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.stats .stat .well:before {
  border-top-color: rgba(0, 0, 0, 0.01);
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
.stats .stat small {
  text-shadow: none;
  font-size: 12px;
  display: block;
  color: rgba(36, 36, 36, 0.8);
  margin: 10px 0 0 0;
  text-transform: uppercase;
}
.team .media-heading {
  margin-top: 0;
  color: #000000;
}
.team p {
  color: rgba(36, 36, 36, 0.8);
}
.team .role,
.team p.role {
  color: rgba(36, 36, 36, 0.8);
  font-size: 16px;
}
.team .media-object {
  max-width: 120px;
}
.section-menu ul.nav-list {
  padding: 2em 0;
  margin-left: 0;
  border-right: 1px solid #e6e6e6;
}
.section-menu ul.nav-list li.nav-header {
  padding-left: 5px;
  margin: 0;
}
.section-menu ul.nav-list li a {
  color: rgba(36, 36, 36, 0.7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #e6e6e6;
  border-top: none;
  margin: 0 -1px 0 3px;
  -webkit-box-shadow: 1px 1px 1px #ffffff;
  -moz-box-shadow: 1px 1px 1px #ffffff;
  box-shadow: 1px 1px 1px #ffffff;
  background: #fafafa;
  text-shadow: none;
  padding: 8px 15px;
  position: relative;
}
.section-menu ul.nav-list li a.first {
  border-top: 1px solid #e6e6e6;
}
.section-menu ul.nav-list li a:hover {
  background: #f0f0f0;
}
.section-menu ul.nav-list li a:hover i {
  color: #69A646;
}
.section-menu ul.nav-list li a i {
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 10px;
  color: #e6e6e6;
}
.section-menu ul.nav-list li a small {
  display: block;
  font-weight: normal;
  color: rgba(36, 36, 36, 0.5);
}
.section-menu ul.nav-list li.active > a,
.section-menu ul.nav-list li.active > a:hover {
  border-left: 4px solid #69A646;
  border-right-color: #ffffff;
  margin: 0 -1px 0 0;
  background: #ffffff;
  color: rgba(36, 36, 36, 0.8);
}
.section-menu ul.nav-list li.active > a i,
.section-menu ul.nav-list li.active > a:hover i {
  color: #69A646;
}
/* --------------------------------------------------
 * Blog
 *-------------------------------------------------- */
.date-wrapper {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #c2c2c2;
  color: #242424;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
.date-wrapper span {
  font-size: 16px;
  display: block;
}
.date-wrapper span.date-m {
  padding: 2px 4px;
  color: #ffffff;
  background: #5A8E3C;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
}
.date-wrapper span.date-d {
  font-size: 22px;
  line-height: 1;
  padding: 5px 0 3px 0;
  color: #242424;
}
.tags {
  font-size: 12px;
  text-transform: uppercase;
}
.tags .tag {
  color: #69A646;
}
.tags .type {
  color: #242424;
}
.tag-cloud span {
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  background: #e6e6e6;
  display: inline-block;
  padding: 4px 8px;
  margin: 2px 0;
  font-size: 12px;
  text-transform: uppercase;
}
.blog-roll .title,
.blog-post .title {
  margin: 0 0 5px 0;
  line-height: 1;
}
.blog-roll .meta,
.blog-post .meta {
  font-size: 12px;
  margin-bottom: 5px;
}
.blog-roll .hidden-phone,
.blog-post .hidden-phone {
  text-align: center;
}
.blog-roll .media,
.blog-post .media {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.blog-roll.blog-list .media-object,
.blog-post.blog-list .media-object {
  float: right;
  margin: 0 0 1em 1em;
}
.blog-roll.blog-list .media-object img,
.blog-post.blog-list .media-object img {
  max-width: 150px;
}
.blog-post .media-body .lead {
  margin: 1em 0;
  /*padding: 1em 0.5em;*/
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  background: #f0f0f0;
}
.blog-post .comments .media-body {
  margin-top: 0;
}
.blog-post .comments .media-body .meta {
  margin: 0;
}
/* --------------------------------------------------
 * Contact
 *-------------------------------------------------- */
/* --------------------------------------------------
 * Misc Pages
 *-------------------------------------------------- */
.form-wrapper {
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.2);
  -moz-box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.2);
  box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.2);
}
.form-wrapper.form-narrow {
  min-width: 200px;
  max-width: 300px;
}
.form-wrapper.form-medium {
  min-width: 400px;
  max-width: 500px;
}
.form-wrapper h2.title-divider,
.form-wrapper h3.title-divider {
  margin-top: 0;
}
.demos .title-divider {
  margin-top: 2em;
}
.demos .demo-block,
.demos [class*="span"] {
  background: #e6e6e6;
  min-height: 300px;
}
.page-elements h3.title-divider {
  margin-top: 2em;
}
.fancy {
  font-family: 'Calligraffitti', cursive;
  text-transform: lowercase;
}
.de-em {
  font-weight: normal;
  color: rgba(51, 51, 51, 0.8);
}
a .de-em {
  font-weight: normal;
  color: rgba(13, 88, 140, 0.8);
}
.em {
  font-weight: bold;
}
.pad-right {
  padding-right: 0.5em;
}
.pad-left {
  padding-left: 0.5em;
}
.pad-right-large {
  padding-right: 1.5em;
}
.pad-left-large {
  padding-left: 1.5em;
}
.pad-right-xlarge {
  padding-right: 3em;
}
.pad-left-xlarge {
  padding-left: 3em;
}
small img {
  max-width: 50px;
}
blockquote {
  border: none;
  padding: 0;
}
blockquote p {
  background: #e6e6e6;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
blockquote p:after,
blockquote p:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
blockquote p:after {
  border-top-color: #e6e6e6;
  border-width: 10px;
  left: 10%;
  margin-left: -10px;
}
blockquote p:before {
  border-top-color: rgba(0, 0, 0, 0.01);
  border-width: 11px;
  left: 10%;
  margin-left: -11px;
}
blockquote small {
  display: block;
  padding: 12px 0 0 10px;
}
blockquote small:before {
  content: '';
}
blockquote small img {
  padding-right: 1em;
}
.inline-el {
  display: inline-block;
}
.inline-el h1,
.inline-el h2,
.inline-el h3,
.inline-el h4,
.inline-el h5,
.inline-el p {
  margin: 0;
}
.well-small {
  padding: 9px;
}
.well-mini {
  padding: 5px;
}
.badge.badge-large,
.label.badge-large,
.badge.label-large,
.label.label-large {
  padding: 4px 8px;
  font-size: 14px;
}
.badge.badge-xlarge,
.label.badge-xlarge,
.badge.label-xlarge,
.label.label-xlarge {
  padding: 8px 12px;
  font-size: 18px;
}
.title-divider {
  text-align: left;
  margin-bottom: 1em;
  background: #ffffff url(image-path("bg_divider.png")) left center repeat-x;
  padding: 0;
}
.title-divider span {
  background: #ffffff;
  padding-right: 0.5em;
}
.title-divider small {
  display: block;
  color: rgba(51, 51, 51, 0.6);
}
/* Utilities */
.primary-colour {
  color: #69A646;
}
.primary-colour-bg {
  background-color: #69A646;
}
.primary-colour-bg-50 {
  background-color: rgba(85, 167, 154, 0.5);
}
.primary-colour-bg-80 {
  background-color: rgba(13, 88, 140, 0.8);
}
.white-80 {
  color: rgba(255, 255, 255, 0.8);
}
.white-60 {
  color: rgba(255, 255, 255, 0.6);
}
.white-40 {
  color: rgba(255, 255, 255, 0.4);
}
.more-link:hover {
  border-bottom: 3px solid #69A646;
  text-decoration: none;
}
.pull-center {
  text-align: center;
}
.space-reset {
  line-height: 1;
  padding: 0;
  margin: 0;
}
.margin-top-small {
  margin-top: 0.5em;
}
.margin-top-medium {
  margin-top: 1em;
}
.margin-top-large {
  margin-top: 2em;
}
.bordered-top-small {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-top-medium {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-top-large {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgba(204, 204, 204, 0.7);
}
.margin-bottom-small {
  margin-bottom: 0.5em;
}
.margin-bottom-medium {
  margin-bottom: 1em;
}
.margin-bottom-large {
  margin-bottom: 2em;
}
.bordered-bottom-small {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-bottom-medium {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
.bordered-bottom-large {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}
ul.big-list {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
ul.big-list li {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  border-color: rgba(204, 204, 204, 0.6);
}
ul.big-list li:hover {
  background: #ededed;
}
.sidebar ul.big-list {
  font-size: 1em;
}
._icon-mini {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
._icon-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
._icon-medium {
  width: 60px;
  height: 60px;
  line-height: 65px;
  font-size: 40px;
}
._icon-large {
  width: 80px;
  height: 80px;
  line-height: 85px;
  font-size: 60px;
}
._icon-xlarge {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 80px;
}
._icon-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
._icon-circle-double {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  border: 3px solid #fdfefe;
  box-shadow: 0 0 0 2px #69A646;
}
._icon-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
._icon-primary {
  background-color: #69A646;
  color: #ffffff;
  text-align: center;
}
._icon-primary-50 {
  background-color: rgba(85, 167, 154, 0.5);
  color: #ffffff;
  text-align: center;
}
._icon-primary-80 {
  background-color: rgba(13, 88, 140, 0.8);
  color: #ffffff;
  text-align: center;
}
._icon-inverse {
  background: #3e3e3e;
  color: #ffffff;
  text-align: center;
}
._icon-success {
  background: #1b7b00;
}
body .icon-mini,
li .icon-mini {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
body .icon-small,
li .icon-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
body .icon-medium,
li .icon-medium {
  width: 60px;
  height: 60px;
  line-height: 65px;
  font-size: 40px;
}
body .icon-large,
li .icon-large {
  width: 80px;
  height: 80px;
  line-height: 85px;
  font-size: 60px;
}
body .icon-xlarge,
li .icon-xlarge {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 80px;
}
body .icon-circle,
li .icon-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
body .icon-circle-double,
li .icon-circle-double {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  border: 3px solid #fdfefe;
  box-shadow: 0 0 0 2px #69A646;
}
body .icon-rounded,
li .icon-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body .icon-primary,
li .icon-primary {
  background-color: #69A646;
  color: #ffffff;
  text-align: center;
}
body .icon-primary-50,
li .icon-primary-50 {
  background-color: rgba(85, 167, 154, 0.5);
  color: #ffffff;
  text-align: center;
}
body .icon-primary-80,
li .icon-primary-80 {
  background-color: rgba(13, 88, 140, 0.8);
  color: #ffffff;
  text-align: center;
}
body .icon-inverse,
li .icon-inverse {
  background: #3e3e3e;
  color: #ffffff;
  text-align: center;
}
body .icon-success,
li .icon-success {
  background: #1b7b00;
}
body .icon-mini:before,
li .icon-mini:before,
body .icon-small:before,
li .icon-small:before,
body .icon-medium:before,
li .icon-medium:before,
body .icon-large:before,
li .icon-large:before,
body .icon-xlarge:before,
li .icon-xlarge:before,
body .icon-circle:before,
li .icon-circle:before,
body .icon-circle-double:before,
li .icon-circle-double:before,
body .icon-rounded:before,
li .icon-rounded:before,
body .icon-inverse:before,
li .icon-inverse:before,
body .icon-inverse-50:before,
li .icon-inverse-50:before,
body .icon-inverse-80:before,
li .icon-inverse-80:before,
body .icon-success:before,
li .icon-success:before {
  width: auto;
  font-size: inherit;
}
a:hover .icon-inverse,
a:hover .icon-inverse-50,
a:hover .icon-inverse-80 {
  text-decoration: none;
}
a:hover .icon-inverse {
  background: #98cac2;
}
a:hover .icon-inverse-50,
a:hover .icon-inverse-80 {
  background: #69A646;
}
.secondary-nav {
  margin: 0;
  padding: 0;
}
.secondary-nav li a {
  margin: 0 0 1px 0;
  padding: 8px 0.5em;
  background: rgba(85, 167, 154, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(85, 167, 154, 0.1);
}
.secondary-nav li a i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.secondary-nav li a:hover {
  background: rgba(85, 167, 154, 0.1);
}
.secondary-nav li a:hover i {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.secondary-nav li.active a {
  background: #69A646;
}
.secondary-nav li ul {
  margin: 0 0 1px 0;
  padding: 8px 1em;
  border: 1px solid rgba(85, 167, 154, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: rgba(85, 167, 154, 0.1);
}
.popover-title {
  font-size: 16px;
  font-weight: bold;
}
.popover-content {
  font-size: 12px;
  font-weight: normal;
}
.accordion-primary .accordion-group {
  margin-bottom: 1px;
  border: 1px solid rgba(85, 167, 154, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(85, 167, 154, 0.05);
}
.accordion-primary .accordion-group:hover {
  background: rgba(85, 167, 154, 0.1);
}
.accordion-primary .accordion-inner {
  border-top: 1px solid rgba(85, 167, 154, 0.2);
}
.background-clip-fix {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.alert-inline {
  display: inline-block;
}
@media (max-width: 979px) {
  #navigation .header {
    padding: 10px 0;
  }
  #navigation .header #header-hidden-link {
    top: -10px;
  }
  #navigation .navbar .btn-navbar {
    text-align: center;
    display: block;
    float: left;
    margin: 8px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(62, 62, 62, 0.8);
    background-image: -moz-linear-gradient(top, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(62, 62, 62, 0.8)), to(rgba(62, 62, 62, 0.8)));
    background-image: -webkit-linear-gradient(top, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8));
    background-image: -o-linear-gradient(top, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8));
    background-image: linear-gradient(to bottom, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc3e3e3e', endColorstr='#cc3e3e3e', GradientType=0);
    border-color: rgba(62, 62, 62, 0.8) rgba(62, 62, 62, 0.8) rgba(23, 23, 23, 0.8);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: rgba(62, 62, 62, 0.8);
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }
  #navigation .navbar .btn-navbar:hover,
  #navigation .navbar .btn-navbar:active,
  #navigation .navbar .btn-navbar.active,
  #navigation .navbar .btn-navbar.disabled,
  #navigation .navbar .btn-navbar[disabled] {
    color: #ffffff;
    background-color: rgba(62, 62, 62, 0.8);
    *background-color: rgba(49, 49, 49, 0.8);
  }
  #navigation .navbar .btn-navbar:active,
  #navigation .navbar .btn-navbar.active {
    background-color: rgba(36, 36, 36, 0.8) \9;
  }
  #navigation .nav-select {
    display: block;
  }
  #navigation .navbar-inner {
    padding: 0;
    margin: 0 10px;
    background-image: none;
  }
  #navigation .navbar .nav li.divider-vertical,
  #navigation .navbar .nav li.home-link {
    display: none;
  }
  #navigation .navbar .nav.user-menu {
    margin: 0;
    padding: 8px;
  }
  #navigation .navbar .nav#main-menu {
    float: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  #navigation .navbar .nav#main-menu li {
    float: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #navigation .navbar .nav#main-menu li a,
  #navigation .navbar .nav#main-menu li a:link,
  #navigation .navbar .nav#main-menu li a:focus {
    padding: 10px 20px;
    margin: 0;
    font-weight: normal;
  }
  #navigation .navbar .nav#main-menu li a .caret,
  #navigation .navbar .nav#main-menu li a:link .caret,
  #navigation .navbar .nav#main-menu li a:focus .caret {
    font-family: FontAwesome;
    float: right;
    border: none;
    margin: 0 -20px 0 0;
    font-size: 16px;
    color: #ffffff;
    width: 30px;
    height: 30px;
  }
  #navigation .navbar .nav#main-menu li a .caret:before,
  #navigation .navbar .nav#main-menu li a:link .caret:before,
  #navigation .navbar .nav#main-menu li a:focus .caret:before {
    content: "\f054";
  }
  #navigation .navbar .nav#main-menu li a:hover,
  #navigation .navbar .nav#main-menu li.active a {
    background: #4a4a4a;
    color: #ffffff;
  }
  #navigation .navbar .nav#main-menu li.open .dropdown-toggle,
  #navigation .navbar .nav#main-menu li.open.active .dropdown-toggle {
    background: #434343;
    color: #ffffff;
  }
  #navigation .navbar .nav#main-menu li.open .dropdown-toggle .caret:before,
  #navigation .navbar .nav#main-menu li.open.active .dropdown-toggle .caret:before {
    content: "\f078";
  }
  #navigation .navbar .nav#main-menu .dropdown-menu {
    background: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: none;
    color: rgba(255, 255, 255, 0.6);
  }
  #navigation .navbar .nav#main-menu .dropdown-menu li {
    margin: 0;
    padding: 0;
    border-top: none;
    background: none;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu li a,
  #navigation .navbar .nav#main-menu .dropdown-menu li a:link,
  #navigation .navbar .nav#main-menu .dropdown-menu li a:focus,
  #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item {
    padding: 5px 20px;
    margin: 0;
    background-color: #4d4d4d;
    background: #525252;
    border-bottom-color: rgba(255, 255, 255, 0.16);
    text-transform: none;
    color: rgba(255, 255, 255, 0.6);
  }
  #navigation .navbar .nav#main-menu .dropdown-menu li a:before,
  #navigation .navbar .nav#main-menu .dropdown-menu li a:link:before,
  #navigation .navbar .nav#main-menu .dropdown-menu li a:focus:before,
  #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:before {
    font-family: FontAwesome;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    width: 30px;
    height: 30px;
    content: "\f0da";
    padding: 0 6px 0 0;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu li a:hover,
  #navigation .navbar .nav#main-menu .dropdown-menu li a:link:hover,
  #navigation .navbar .nav#main-menu .dropdown-menu li a:focus:hover,
  #navigation .navbar .nav#main-menu .dropdown-menu li a.menu-item:hover {
    background-color: #4d4d4d;
    background: #525252;
    border-bottom-color: rgba(255, 255, 255, 0.16);
    color: #ffffff;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu {
    padding: 0;
    min-width: 100%;
    max-width: 100%;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu .menu-title {
    display: none;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul.row-fluid [class*="span"] {
    width: 100%;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul span,
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a {
    display: none;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item {
    padding: 5px 20px;
    font-weight: normal;
    font-size: 11.5px;
    display: block;
  }
  #navigation .navbar .nav#main-menu .dropdown-menu.mega-menu ul a.menu-item:before {
    font-size: 14px;
  }
}
@media (min-width: 980px) {

}
@media (min-width: 1200px) {

}
@media (max-width: 979px) {
  #navigation {
    margin-bottom: 1em;
  }
  #navigation .header #header-hidden-link {
    right: 20px;
  }
  #navigation .header .social-media {
    margin-top: 20px;
  }
  #navigation .header-hidden-inner,
  #navigation .header-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  #navigation .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .has-navbar-fixed-top #highlighted {
    margin-top: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .customers li a .inner-wrapper {
    height: 260px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  #navigation .header {
    height: auto;
  }
  #navigation .header .slogan {
    border: none;
    padding: 0;
    margin: 0;
    float: none;
    text-align: center;
  }
  #navigation .header #header-hidden-link {
    right: 10px;
  }
  #navigation .header .brand,
  #navigation .header .social-media {
    width: auto;
    text-align: center;
    float: none;
  }
  #navigation .header .social-media {
    margin-top: 1em;
  }
  #navigation div.dropdown-menu,
  #navigation span.dropdown-menu {
    max-width: 300px;
  }
  #navigation div.dropdown-menu .input-prepend input,
  #navigation span.dropdown-menu .input-prepend input,
  #navigation div.dropdown-menu .input-append input,
  #navigation span.dropdown-menu .input-append input,
  #navigation div.dropdown-menu .input-prepend input[class*="span"],
  #navigation span.dropdown-menu .input-prepend input[class*="span"],
  #navigation div.dropdown-menu .input-append input[class*="span"],
  #navigation span.dropdown-menu .input-append input[class*="span"],
  #navigation div.dropdown-menu form input[type="text"].email,
  #navigation span.dropdown-menu form input[type="text"].email {
    display: block;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  #navigation div.dropdown-menu form .btn.login,
  #navigation span.dropdown-menu form .btn.login {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #content,
  #content-below,
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .flexslider-wrapper .caption,
  .static-banner .caption {
    padding: 5%;
    text-align: center;
  }
  .flexslider-wrapper .flex-direction-nav,
  .static-banner .flex-direction-nav {
    display: none;
  }
  #footer .col {
    margin-bottom: 2em;
  }
  #footer .pull-right {
    float: none;
  }
  h1 small,
  h2 small,
  h3 small {
    display: block;
  }
  .blog-list.blog-list-short .media-object,
  .blog-post.blog-list-short .media-object {
    display: none;
  }
  .blog-list .comments .media-object,
  .blog-post .comments .media-object {
    display: none;
  }
  .tab-content,
  .pill-content {
    overflow: visible;
  }
  .tab-content .tab-pane,
  .pill-content .tab-pane,
  .tab-content .pill-pane,
  .pill-content .pill-pane {
    display: block;
    margin-bottom: 2em;
  }
  .customers li a .inner-wrapper {
    height: auto;
  }
  .section-menu ul.nav-list {
    border: none;
    padding: 1em 0;
  }
  .sidebar.sidebar-right .inner,
  .sidebar.sidebar-leftt .inner {
    border: none;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 480px) {
  #navigation .navbar .user-menu {
    float: right;
  }
  #navigation .navbar .user-menu li > a.btn {
    padding: 4px 6px;
  }
  .blog-roll.blog-list .media-object,
  .blog-post.blog-list .media-object {
    float: none;
    margin: 0.5em 0;
  }
  .blog-roll.blog-list .media-object img,
  .blog-post.blog-list .media-object img {
    max-width: 100%;
  }
  .sidebar.siderbar-right .inner,
  .sidebar.sidebar-left .inner {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .form-wrapper.form-narrow {
    min-width: 200px;
    max-width: 300px;
  }
  .form-wrapper.form-medium {
    min-width: 200px;
    max-width: 5300px;
  }
}
