<div id="content">
	<div class="container">
		<div id='forums_container'>
			<h1 id='forums_title'><%= t('.title') %></h1>

			<%= render @categories %>
		</div>

		<br>
		<footer id='admin_link'>
			<% if forem_admin? %>
			<%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
			<% end %>
		</footer>
	</div>
</div>